.main
{
width:385px;
height:580px;
position:absolute;
}
.panel
{
background-color:#ffffff;
height:580px;
width:384px;
filter:drop-shadow(0px 4px 16px rgba(0,0,0,0.25));
border-radius:16px;
}
.volumeslider
{
height:28px;
width:298px;
padding:0px;
border-style:hidden;
outline:none;
left:41px;
top:525px;
position:absolute;
}
.empty
{
background-color:#434343;
height:4px;
width:221px;
top:12px;
left:41px;
position:absolute;
}
.adjustementlayer
{
background-color:#434343;
height:4px;
width:14.000009536743164px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
position:absolute;
top:12px;
left:41px;
}
.fill
{
background-color:#434343;
height:4px;
width:0.000009999999747378752px;
}
.handle
{
background-color:#434343;
height:14px;
width:14px;
top:-5px;
left:0px;
position:absolute;
border-radius:50%;
}
.speaker
{
height:28px;
width:28px;
}
.%
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Roboto;
left:276px;
top:4px;
width:22px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.playcontrols
{
width:318px;
height:54px;
top:540px;
left:967px;
position:absolute;
}
.rewind
{
height:32px;
width:32px;
left:967px;
top:554px;
position:absolute;
}
.stop
{
height:34px;
width:34px;
padding:0px;
border-style:hidden;
outline:none;
top:551px;
left:1186px;
position:absolute;
}
.ellipse1
{
background-color:#696969;
height:34px;
width:34px;
border-radius:50%;
}
.rectangle9
{
background-color:#ffffff;
height:16px;
width:16px;
border-radius:1px;
top:9px;
left:9px;
position:absolute;
}
.play2
{
height:54px;
width:54px;
padding:0px;
border-style:hidden;
outline:none;
top:540px;
left:1099px;
position:absolute;
}
.ellipse12
{
background-color:#696969;
height:54px;
width:54px;
filter:drop-shadow(0px 4px 12px rgba(0.3294117748737335,0.5458823442459106,0.8705882430076599,0.4000000059604645));
border-radius:50%;
}
.play3
{
height:28.350000381469727px;
width:28.350000381469727px;
left:14.85px;
top:12.82px;
position:absolute;
}
.pause
{
height:34px;
width:34px;
padding:0px;
border-style:hidden;
outline:none;
top:551px;
left:1032px;
position:absolute;
}
.ellipse13
{
background-color:#696969;
height:34px;
width:34px;
border-radius:50%;
}
.icon
{
width:12px;
height:16px;
top:9px;
left:11px;
position:absolute;
}
.rectangle7
{
background-color:#ffffff;
height:16px;
width:4px;
border-radius:1px;
top:9px;
left:11px;
position:absolute;
}
.rectangle8
{
background-color:#ffffff;
height:16px;
width:4px;
border-radius:1px;
top:9px;
left:19px;
position:absolute;
}
.fastforward
{
height:32px;
width:32px;
left:1253px;
top:554px;
position:absolute;
}
.separator
{
background-color:#d9d9d9;
height:1px;
width:385px;
top:170px;
left:930px;
position:absolute;
}
.scrollbar
{
background-color:#c7c7c7;
height:132px;
width:5px;
top:192px;
left:1299px;
position:absolute;
}
.thisisasampletextforthereadaloudbrowserextension.itdemonstratesthefunctionalityoftheextensionbyprovidingaplaceholderfortheactualcontentthatwillbereadaloud.
{
color:#555a66;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Roboto;
left:963px;
top:201px;
width:322px;
height:114px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.separator2
{
background-color:#d9d9d9;
height:1px;
width:385px;
top:513px;
left:930px;
position:absolute;
}
.expandarrows
{
height:28px;
width:28px;
left:1258px;
top:111px;
position:absolute;
}
.settings
{
height:28px;
width:28px;
left:1212px;
top:111px;
position:absolute;
}
.tabpagetitletextex...
{
color:#555a66;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Roboto;
left:963px;
top:116px;
width:217px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.notificationdrawer
{
background-color:#d9d9d9;
height:4px;
width:77px;
top:651px;
left:1087px;
position:absolute;
}
